.profile{
    font-size: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 1px 1px 3px rgb(124, 124, 124);
    margin-bottom: 60px;
    margin-top: 70px;
    border-radius: 80px 20px 80px 20px;
    transition: all 1s ease;
    
}
.usericon{
    font-size:30vh;
    text-align: center;
}
.content{
    margin-bottom: 50px;
}
.profile:hover{
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
}
